/* General container styling */
body {
  margin: 0; /* Elimina el margen predeterminado del cuerpo */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Asegura que el contenedor tenga al menos el 100% de la altura de la ventana */
  background: linear-gradient(to top, #50027e, #000000);
  /* Color de fondo opcional */
}

/* Form styling */
form {
  background: linear-gradient(to right, #50027e, #000000);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px; /* Espaciado entre los campos */
  align-items: center;
  justify-content: center;
  color: white;
}

/* Styling for form groups */
label {
  font-weight: bold;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}

/* Styling for input fields */
input[type="text"],
input[type="date"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Focus state for inputs */
input[type="text"]:focus,
input[type="date"]:focus {
  border-color: #007bff;
  outline: none;
}

/* Styling for button */
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

/* Button hover state */
button:hover {
  background-color: #0056b3;
}
